body{
    padding:40px;
    background-color:black;
}
h1,label{
    color:white
}
.container{
    display: flex;
    gap: 60px;
}
input{
    padding:10px 20px;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
}
button{
    padding:10px 20px;
    outline: none;
    border-radius: 10px;
    background-color: white;
    margin: 10px;
}
#error{
    color:red;

}
#success{
    color:green
}
.employee{
    color: aliceblue;
    display: flex;
    gap:60px;
    align-items: center;
}
p{
    color:white;
}

